*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Fredoka;
    color:white;
}

.flex-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

h1{
    color:deeppink
}